@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


.raleway-title {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}